[submodule "lib/imgui"]
	path = lib/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "lib/tinygltf"]
	path = lib/tinygltf
	url = https://github.com/syoyo/tinygltf.git
[submodule "lib/portaudio"]
	path = lib/portaudio
	url = https://github.com/PortAudio/portaudio.git
